@charset "utf-8";

@font-face {
	font-family: 'BigShouldersDisplay';
	src: url("../fonts/BigShouldersDisplay-Black.woff") format('woff');
	font-style: bold;
	font-weight: 900;
}

@font-face {
	font-family: 'BigShouldersDisplay-ExtraBold';
	src: url("../fonts/BigShouldersDisplay-ExtraBold.woff") format('woff');
	font-style: bold;
	font-weight: 800;
}

@font-face {
	font-family: 'BigShouldersDisplay-Black';
	src: url("../fonts/BigShouldersDisplay-Black.woff") format('woff');
	font-style: bold;
	font-weight: 900;
}

@font-face {
	font-family: 'Outfit';
	src: url("../fonts/Outfit-Light.woff") format('woff');
	font-style: normal;
	font-weight: 300;
}
/*################################### GENERAL ###################################*/
* {
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

h1,h2,h3,h4,p{
	padding: 0px;
	margin: 0px;
}

h1 {
	font: 900 96px/88px 'BigShouldersDisplay-Black';
}
h2 {
	font: 800 70px/70px 'BigShouldersDisplay-ExtraBold';
}
h3 {
	font: 900 60px/60px 'BigShouldersDisplay';
}
h4 {
	font: 900 36px/36px 'BigShouldersDisplay';
}
.mainTextMedium {
	font: 300 22px/32px 'Outfit';
}
.mainTextSmall {
	font: 300 18px/28px 'Outfit';
}
.button {
	width: 260px;
	height: 72px;
	display: flex;
	color: white;
	font: 800 20px/72px 'BigShouldersDisplay-ExtraBold';
	letter-spacing: 3.64px;
	text-align: center;
}

.button-text {
	width: 204px;
	height: inherit;
	background-color: #151515;
	transition: background-color 0.3s ease;
}
.button-icon {
	width: 56px;
	height: inherit;
	background: center/8px 24px no-repeat;
	background-color: #D5966C;
	transition: background-color 0.3s ease;
}

@media(hover:hover){
	.button:hover {
		cursor: pointer;
	}
	.button:hover .button-text {
		background-color: #D5966C;
	}
	.button:hover .button-icon {
		background-color: #151515;
	}
}
/*################################### FOOTER ###################################*/
footer {
	width: 1440px;
	height: 244px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
footer > * {
	height: 84px;
}
#footer-logo {
	width: 160px;
	background: url("../images/logo-light.svg") 0% 0%/160px no-repeat;
}
#footer-text {
	width: 430px;
	text-align: left;
	margin: 0px 280px 0px 140px;
}
#footer-media {
	width: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
#footer-media > div {
	width: 20px;
	height: 20px;
}
.media-icon {
	cursor: pointer;
}
/*############################################################################*/
/*############################## TABLET VERSION ##############################*/
/*############################################################################*/
@media (min-width: 768px) and (max-width: 1023px) {
	h1 {
		font: 900 70px/65px 'BigShouldersDisplay-Black';
	}
	h2 {
		font: 900 60px/60px 'BigShouldersDisplay-Black';
	}
	h3 {
		font: 900 50px/45px 'BigShouldersDisplay';
	}
	h4 {
		font: 900 32px/32px 'BigShouldersDisplay';
	}
	.mainTextMedium {
		font: 300 18px/28px 'Outfit';
	}
	.mainTextSmall {
		font: 300 16px/26px 'Outfit';
	}
	/*------------------------ FOOTER ------------------------*/
	footer {
		width: 100vw;
		height: 216px;
		justify-content: center;
		padding: 0px 40px;
	}
	footer > * {
		height: 104px;
	}
	#footer-logo {
		width: 110px;
	}
	#footer-text {
		width: 281px;
		margin: 0px 133px 0px 65px;
	}
}
/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {
	h1 {
		font: 900 60px/55px 'BigShouldersDisplay-Black';
	}
	h2 {
		font: 900 50px/45px 'BigShouldersDisplay-Black';
	}
	h3 {
		font: 900 50px/45px 'BigShouldersDisplay';
	}
	h4 {
		font: 900 32px/32px 'BigShouldersDisplay';
	}
	.mainTextMedium {
		font: 300 18px/28px 'Outfit';
	}
	.mainTextSmall {
		font: 300 16px/26px 'Outfit';
	}
	/*------------------------ FOOTER ------------------------*/
	footer {
		width: 100vw;
		height: 336px;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		margin-top: 120px;
	}
	footer > * {
		width: 311px !important;
	}
	#footer-logo {
		height: 40px;
	}
	#footer-text {
		height: 104px;
		margin: 38px 0px;
	}
	#footer-media {
		width: 100px;
		height: 20px;
		justify-content: flex-start;
	}
	#footer-media > div {
		margin-right: 22px;
	}
}