@charset "utf-8";
@font-face {
	font-family: 'BigShouldersDisplay';
	src: url("../fonts/BigShouldersDisplay.woff") format('woff');
	font-style: bold;
	font-weight: 900;
}
@font-face {
	font-family: 'Outfit';
	src: url("../fonts/Outfit-Light.woff") format('woff');
	font-style: normal;
	font-weight: 300;
}
/*################################### GENERAL ###################################*/
*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding:0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
h1{
	width: 514px;
	height: 176px;
	font: 900 96px/88px 'BigShouldersDisplay';
}

p{
	padding: 0px;
	margin: 0px;
}

.mainText{
	font: 300 22px/32px 'Outfit';
}


/*################################### HEADER ###################################*/
header{
	width: 1440px;
	height: 800px;
	display: flex;
	background: url("../images/desktop/image-hero.jpg") 450px 0px/540px no-repeat;
}

header > div{
	border: solid 1px red;
	padding-top: 189px;
}

#header-title{
	width: 450px;
	height: 800px;
	background-color: black;
	mix-blend-mode:difference;
}
#header-title h1{
	margin-left: 183px;
	color: white;
}

#header-mainContent{
	width: 350px;
	height: 296px;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	color: #444444;
	margin-left: 475px;
}

#ourLocation-bt{
	width: 260px;
	height: 72px;
	background-color: solid 1px black;
}


