@charset "utf-8";
@font-face {
	font-family: 'BigShouldersDisplay';
	src: url("../fonts/BigShouldersDisplay.woff") format('woff');
	font-style: bold;
	font-weight: 900;
}
@font-face {
	font-family: 'Outfit';
	src: url("../fonts/Outfit-Light.woff") format('woff');
	font-style: normal;
	font-weight: 300;
}
/*################################### GENERAL ###################################*/
*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding:0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
h1{
	font: 900 96px/88px 'BigShouldersDisplay';
}
h2{
	font: 900 70px/70px 'BigShouldersDisplay';
}
h3{
	font: 900 60px/60px 'BigShouldersDisplay';
}
h4{
	font: 900 36px/36px 'BigShouldersDisplay';
}
.mainTextMedium{
	font: 300 22px/32px 'Outfit';
}
.mainTextSmall{
	font: 300 18px/28px 'Outfit';
}
.button{
	height: 72px;
	display:flex;
	color: white;
	font: 900 20px/72px 'BigShouldersDisplay';
	text-align: center;
}

.button:hover {
	cursor:pointer;
}
.button:hover .button-text{
	background-color: #D5966C;
}
.button:hover .button-icon{
	background-color: #151515;
}
.button-text{
	width: 100%;
	height: inherit;
	letter-spacing: 3.64px;
	background-color: #151515;
}
.button-icon{
	width: 56px;
	height: inherit;
	background: #D5966C center/8px 24px no-repeat;
}

/*################################### FOOTER ###################################*/

footer{
	width: 1440px;
	height: 244px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

footer > *{
	height: 84px;
}

#footer-logo{
	width: 160px;
	background: url("../images/logo-light.svg") 0% 0%/160px no-repeat;
}

#footer-text{
	width: 430px;
	text-align: left;
	margin: 0px 140px 0px 280px;
}

#footer-media{
	width: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

#footer-media > div{
	width: 20px;
	height: 20px;
}
.media-icon{
	cursor: pointer;
}

/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {
h1{
	font: 900 60px/55px 'BigShouldersDisplay';
}
h3{
	font: 900 50px/45px 'BigShouldersDisplay';
}
.mainTextMedium{
	font: 300 18px/28px 'Outfit';
}
}